//global colors

$kaya-green: #78938a;
$golden-ticket: #a97155;
$royal-purple: #554994;
$chocolate-brown: #967e76;
$sea-blue: #0a75ad;
$positive-green: #3a6351;
$out-red: #632626;
$verify-green: #65886c;
$tomato-red: #7a2f2f;
$royal-blue: #4f8bbe;
$chocolate-bar: #8e806a;
