
body, html {

    background-color: white;
  }
  
  
  div#root {
    //height: 100%; /* remove this line to see div.app is no more 100% height */
    background-color: white;
    min-width:auto;
    
  
  }
  
  div.app {
  
    background-color: white;
  }
  
  .space-container{
    margin-top:5.25rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-bottom: 6.25rem;
    font-family: monospace;
    color:black;
    
  
    .space-name-new{
      font-size: 1.25rem;
      font-weight: 900;
      margin-top: 1.25rem;
      margin-bottom: 0.625rem;
      color: black;
    }
  
    .imageIcon{
      width:12.5rem;
      height:12.5rem;
    }
    
    .space-title{
      font-size:2.8125rem;
      font-family:monospace;
      margin-top:0.625rem;
      margin-bottom:1.875rem;
      font-weight:700;
      color:black;
      font-size: 1.875rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  
    .space-refresh{
      display:flex;
      flex-direction: row;
      justify-content: center;
    }
  
  
    .space-welcome{
        text-align: center;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 600;
        margin-bottom: 1.25rem;
        color: black;
    }
  
    .big-card-container {
        width: 90%;
        border-radius: 1rem;
        box-shadow: 0rem 0.625rem 0.5rem #999;
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        color:black;
        background-color: white;
        height: fit-content;
        margin-left: 2rem;
        margin-right: 1.25rem;
        padding-bottom: 0.625rem;
        border-color: black;
    border-style: solid;
  
        .big-card-icon{
            display:flex;
            flex-direction: row;
          
            margin-top: 0.625rem;
        }
        
      }
  
  
      .main-big-card-container {
        width: 90%;
        border-radius: 1rem;
        box-shadow: 0rem 0.625rem 0.5rem #999;
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        color: white;
        background-color: white;
        height: -moz-fit-content;
        height: fit-content;
        margin-left: 2rem;
        margin-right: 1.25rem;
        border-color: black;
        border-style: solid;
  
        .main-small-card-container-goals{
          border-radius: 1rem;
            box-shadow: 0rem 0.625rem 0.5rem #999;
            display: flex;
            flex-direction: column;
            margin: 1rem;
            color: black;
            background-color: antiquewhite;
            height: -moz-fit-content;
            height: fit-content;
    
            margin-bottom: 1.875rem;
            margin-left: 1.875rem;
            margin-right: 1.875rem;
        
            padding: 0.9375rem;
        }
        
      }
  
  
      .big-card-container-goals {
        width: 90%;
        border-radius: 1rem;
        box-shadow: 0rem 0.625rem 0.5rem #999;
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        color:black;
        background-color: white;
        height: fit-content;
        margin-left: 2rem;
        margin-right: 1.25rem;
        padding: 1.25rem;
        border-color: black;
        border-style: solid;
        margin-bottom: 1.25rem;
  
        .small-card-container-goals {
            width: 100%;
            border-radius: 1rem;
            box-shadow: 0rem 0.625rem 0.5rem #999;
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            color:black;
            background-color: antiquewhite;
            height: fit-content;
            margin-left: 0.125rem;
            margin-right: 1.25rem;
            padding: 1.25rem;
    
          }
      }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .btn {
    background-color: black;
    color: white;
  }
  
  .taskText {
    flex: 1 1;
    color: black;
    /* background-color: green; */
  }
  
  .taskBg {
    background-color: floralwhite;
  }
  
  
  .big-card-title{
    font-size: 1.25rem;
    font-weight: 900;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    color:black;
   display:"flex";
   flex-direction: row;
  
  }
  
  .big-finance-card-title{
    font-size: 1.25rem;
    font-weight: 900;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    color:black;
   display:"flex";
   flex-direction: row;
   margin-left:9.875rem;
   margin-right: 1.25rem;
  }
      .container-todo{
        color:black
      }
  
  
      body {
        background-color: #333;
        color: #fff;
      }
      
      .App {
        text-align: center;
      }
      
      .taskBg {
        background-color: floralwhite;
        border-radius: 0.375rem;
        margin-bottom: 1.25rem;
        padding: 0.625rem 8.75rem 0.625rem 0.9375rem;
        text-align: left;
        font-size: 1.375rem;
        position: relative;
      }
      
      .taskBg div {
        display: flex;
        align-items: center;
      }
      
      .taskNumber {
        color: #999;
        border: 0.0625rem solid #999;
        border-radius: 50%;
        width: 1.625rem;
        height: 1.625rem;
        display: flex;
        text-align: center;
        font-size: 0.875rem;
        margin-right: 0.5rem;
        align-items: center;
        justify-content: center;
      }
      
      .taskBg .taskText {
        flex: 1;
        font-size: 0.875rem;
      }
      
      .taskBg .done .taskText {
        text-decoration: line-through;
        opacity: 0.3;
        color:black;
        font-family: monospace;
        font-weight: 700;
        font-size: 1rem;
      }
      
      .taskBg .iconsWrap {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.9375rem;
        width: auto;
        display: inline-block;
      }
      
      .taskBg .iconsWrap span {
        display: inline-block;
        margin: 0rem 0.625rem 0 0.625rem;
        cursor: pointer;
        color: black;
      }
      
      
      .mr-20 {
        margin-right: 1.25rem;
      }
      
  }
  
  
  