.lo-op-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9f6d5;
margin-top:32px;

    .lo-op-pancakes{
        width:200px;
        height:200px;
        margin-top:80px;
        margin-bottom: 40px;
    }   

    .lo-op-title{
        font-size: 1.875rem;
        text-align: center;
        font-weight: 700;
        color:black;
        margin-bottom: 1.25rem;
    }

    
}