.so-register-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9f6d5;

    .so-login-home{
        width:200px;
        height:200px;
        margin-top:80px;
        margin-bottom: 40px;
    } 

    .so-login-cats{
        width:40px;
        height:40px;
        position: absolute;
        top: 33%;
        left: 71%;
    } 

    .so-register-title{
        font-size: 1.25rem;
        text-align: center;
        font-weight: 700;
        color:black;
        margin-bottom: 5px;
    }

    .first-input-general{
        border-radius: 0.625rem;
        padding: 0.625rem;
        padding-right: 6.25rem;
        margin-bottom: 1.25rem;
    }

    .input-general-error{
        margin-right: 11.25rem;
        margin-top: -0.9375rem;
        color: darkred;
    }
    
}