.register-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;

    .register-title{
        font-size: 1.25rem;
        text-align: center;
        font-weight: 700;
        color:black;
    }

    .first-input-general{
        border-radius: 0.625rem;
        padding: 0.625rem;
        padding-right: 6.25rem;
        margin-bottom: 1.25rem;
    }

    .input-general-error{
        margin-right: 11.25rem;
        margin-top: -0.9375rem;
        color: darkred;
    }
    
}